{#{% extends 'layout.html' %}#}


{% block content %}

    <div class="form-wrapper">
      <h2 class="title">How bad will this hurt?</h2>

      <form method="POST" action="{{ url_for('calculate') }}">

          <fieldset class="form-field">
              {{ form.price.label }}
              {{ form.price }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.mpg.label }}
              {{ form.mpg }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.distance_roundtrip.label }}
              {{ form.distance_roundtrip }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.hourly_wage.label }}
              {{ form.hourly_wage }}
          </fieldset>

          <fieldset class="form-field">
              {{ form.hours_worked.label }}
              {{ form.hours_worked }}
          </fieldset>

          {{ form.submit }}

      </form>
    </div>

{% endblock %}